li{
  padding: 10px;
  background-color: transparent;
  font-size: 20px;
  text-align: justify;
  text-decoration-line: none;
  margin-top: -15px;
}

div{
  display:contents;
}

h1{
  margin-top: 10px;
}


body{
  margin: auto;
}


.dropbtn {
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  font-size: 16px;
  border: none;  
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000b0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(250, 250, 250);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(140, 238, 120);
  color:black;
}


.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
  color: rgb(22, 20, 20);
  font-weight: bold;
}

fieldset{
  display: block;
  background-color: rgba(160, 158, 158, 0.925);
  width: 95%;
  height: 1em;
  margin: 10px;
}

a{
  display: block;
  font-size: 15px;
}


